h2
{
color: #140058;
margin-bottom: 3%;
padding-top: 3%;
}

.container1
{
display: flex;
flex-direction: row;
margin-top: 10%;
}

input
{
background-image: linear-gradient(to right, #320086, #491b9c);
color: #ffffff !important;
border: groove 1px grey !important;
border-radius: 0 !important;
width: 60% !important;
}

textarea
{
background-image: linear-gradient(to right, #320086, #491b9c);
width: 100%;
margin-top: 1%;
border: groove 1px grey !important;
font-size: 1rem;
padding: .375rem .75rem;
color: #495057;
width: 60%;    
}

button
{
background-color: #00dbc7 !important;
color: #ffffff !important;
border-color: #00dbc7 !important;
border-radius: 0 !important;
}

.contact_address
{
font-weight: bold;
}
