#team {
    background: url("assets/background_team.jpg") no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 100px 0px 10px 0;
}
.sgtitle, h3{
    color: white;
	text-align: center;
	margin-bottom: 30px;
}
#team h3{
    margin-bottom: 100px;
}
#team h4 {
    margin-bottom: 40px;
    margin-top: 30px;
}
#team p {
    color:white;
}
#team .card {
    border-radius: 0;
    background: none;
    border: 2px #3827b4 solid;
    text-align: center;
}
#team .card:nth-child(2n) {
    margin-top: 50px;
}
#team .card-deck {
    margin-bottom: 100px;
}

.Image{
    display: flex;
    justify-content: space-around;
	margin-bottom: 100px;
    text-align: center;
}
.card-text {
    color: white;
}

#team img.roundedImage {
    border-radius:100px;
    border: 10px solid #06032F;
    width:180px;
}

#home {
    background: url( "./assets/background_home.jpg") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 0 300px 0;
}

#home .introduction {
    padding-top: 430px;
}
#home h1  { 
    margin-bottom: 20px;
    font-size: 3em;
    color:white;
}
#home h1 span {
    color:#3DD8C4;
}
#home p {
    font-size: 1em;
    color: white;
}
#home .button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#home .button a {
    font-family: 'roboto_monobold';
    color:#3DD8C4;
    margin-left: 15px;
    width: 50%;
    font-size: 1.2em;
}
#home .button a:hover {
    color: white;  
}
#home .button hr {
    background-color: #3DD8C4 ;
    width: 50%;
    margin: 0;
    height: 2px;
}
.planets {
    margin-top: 200px;
}
.planets .card {
    background: none;
    border: 2px solid #3DD8C4;
    border-radius: 0;
}
.planets .card-body {
    padding-top: 80px;
}
.planets .card-body img {
    margin: auto;
    position: absolute;
    top: -240px;
    left: 0;
    bottom: 0;
    right: 0; 
}

.planets a {
    text-align: center;
    cursor:pointer;
}

.planets  h2 {
    margin-bottom: 30px;
    color:#3DD8C4;
    font-size: 1em;
}
.planets p span {
    font-size: 1.8em;

}
#about {
    padding: 100px 0;
}
#about h2 {
    text-transform: uppercase;
}
#about img{
    margin: auto;
    position: absolute;
    top: -200px;
    left: 0;
    bottom: 0;
    right: 0;
}
/* Section numbers*/
#numbers {
padding: 100px 0;
}
#numbers h2{
    text-align:left;
  }
#numbers .block {
    text-align: center;
}

.image2{
    margin-top : 150px;
}

#numbers .block h3 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 1.5em;
    color: #5F5F5F;
}
.image1 .image2 .image3{
    text-align: center;
}


#partners {
    padding: 100px 0;
    text-align: center;
}
#partners h2 {
    text-transform: uppercase;
}
#partners .gallery {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}
#partners .gallery img:first-child, #partners .gallery img:last-child  {
    margin: 0
}
#partners .gallery img {
    margin: 0 20px;
    width: 15%;
}
@media screen and (max-width: 1140px) { 
    #home {
        padding-bottom: 200px;
    }
    #about img{ 
        top: -400px;
    }
}
@media screen and (max-width: 991px) {
    #home {
        padding-bottom: 0;
    }
    #about img {
        position: relative;
        top:0;
        display: block;
        margin-top: 50px;
    }
    #team .card-deck{
        margin-bottom: 0;
        flex-flow: column wrap;
    }
    #team .card  {
        margin-bottom: 100px;
    }
    #team .card:nth-child(2n) {
        margin-top: 0;
    }
    .planets .card {
        margin-bottom: 130px;
    }
    .image2{
        margin : 70px 0;
    }
    

}

