#home {
    background: url( "./assets/background_home.jpg") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0 0 300px 0;
}

#home .introduction {
    padding-top: 33%;
}
#home h1  { 
    margin-bottom: 20px;
    font-size: 3em;
    color:white;
}
#home h1 span {
    color:#3DD8C4;
}
#home p {
    font-size: 1em;
    color: white;
}
#home .button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#home .button a {
    font-family: 'roboto_monobold';
    color:#3DD8C4;
    margin-left: 15px;
    width: 50%;
    font-size: 1.2em;
}
#home .button a:hover {
    color: white;  
}
#home .button hr {
    background-color: #3DD8C4 ;
    width: 50%;
    margin: 0;
}
.planets {
    margin-top: 200px;
}
.planets .card {
    background: none;
    border: 1px solid #3DD8C4;
    border-radius: 0;
}
.planets .card-body {
    padding-top: 80px;
}
.planets .card-body img {
    margin: auto;
    position: absolute;
    top: -240px;
    left: 0;
    bottom: 0;
    right: 0; 
}

.planets a {
    text-align: center;
    cursor:pointer;
}

.planets  h2 {
    margin-bottom: 30px;
    color:#3DD8C4;
    font-size: 1em;
}
.planets p span {
    font-size: 1.8em;

}
#about {
    padding: 100px 0;
    margin-bottom: 100px;
}
#about img{
    margin: auto;
    position: absolute;
    top: -200px;
    left: 0;
    bottom: 0;
    right: 0;
}
@media screen and (max-width: 1140px) { 
    #home {
        padding-bottom: 200px;
    }
    #about img{ 
        top: -400px;
    }
}
@media screen and (max-width: 991px) {
    #home {
        padding-bottom: 0;
    }
    #about img {
        position: relative;
        top:0;
        display: block;
        margin-top: 50px;
    }
    .planets .card {
        margin-bottom: 130px;
    }
}

