
h3
{
font-family: 'roboto_monoregular';
color: #3827B4;
margin-top: 2%;
margin-bottom: 2%;
font-size: 1.3em;
}

.presentation /* Présentation de la page kit du nettoyeur */
{
line-height: 1.5em;
text-align: justify;
}

.kit_title_text, .kit_title_text1 /* Texte  */
{
text-align: justify;
padding-right: 5%;
line-height: 1.5em;
}

.img_resolution /* Bordure ombre sur les images */
{
-webkit-box-shadow: 21px 11px 30px -24px rgba(9,9,38,0.87);
-moz-box-shadow: 21px 11px 30px -24px rgba(9,9,38,0.87);
box-shadow: 21px 11px 30px -24px rgba(9,9,38,0.87);
}

.first_element, .second_element, .third_element /* Marge sur le haut de chaque élément */
{
margin-bottom: 4%;
}

label /* Mise à la taille */
{
font-size: 16px !important;
}