linear-gradient(0deg, rgba(11,56,195,1) 0%, rgba(11,56,195,1) 62%, rgba(255,255,255,1) 62%, rgba(255,255,255,1) 100% linear-gradient(0deg, rgba(11,56,195,1) 0%, rgba(11,56,195,1) 62%, rgba(255,255,255,1) 62%, rgba(254,255,255,1) 100%)
h2,p
{
	text-align: justify;
	margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.benevoles
{
	background: linear-gradient(0deg, rgba(11,56,195,1) 0%, rgba(11,56,195,1) 62%, rgba(255,255,255,1) 62%, rgba(249,251,251,1) 100%);
}
div
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.benevoles1
{
	margin-right: 40px;
}

.benevoles2
{
	margin-top: 40px;
}
