html, body
{
background: url("https://images.pexels.com/photos/957040/night-photograph-starry-sky-night-sky-star-957040.jpeg?auto=compress&cs=tinysrgb&h=789&w=1440") no-repeat;
background-size: cover;
height: 100%;
}

h2
{
margin-bottom: 3%;
font: 'RobotoMono-Bold';
}

h3
{
color: #00dbc7;
}

.container1
{
display: flex;
flex-direction: row;
margin-top: 10%;
}

button
{
float: right;
margin-top: 5% !important;
}

.form-control
{
border-radius: 0;
opacity: 0.7;
}

.btn-primary
{
color: #fff;
background-color: #00dbc7;
border-color: #00dbc7;
border-radius: 0;
}

.text
{
color: #ffffff;
}

label
{
color: white;
}

.logo
{
margin-top: 2%;
text-align: center;
}

