/*footer*/
.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    box-shadow: none;
}
.bg-home {
    background-color:transparent;
}
.bg-color {
    background: #06032F;;
}
.navbar-brand {
    padding-left: 20px;
}
li .nav-link  {
    font-family: 'roboto_monoregular';
    font-size: 1.1em;
    letter-spacing: 0.05em;
    padding: 10px 20px !important;
}
li .nav-link:hover {
    border: 1px solid #3DD8C4;
    color:#3DD8C4 !important;
}
.navbar-dark .navbar-nav .nav-link {
    /****pour donner la couleur blanche aux lien du nav****/
    color: white;
}
.navbar-nav li {
    padding: 10px 20px;
}
.navbar-expand-sm .navbar-nav{
    align-items: center;
}

div.btn_engaged a{ 
    padding: 10px 20px;
    color: white;
    border: none;
    overflow: visible;
    font-family: 'roboto_monoregular';
    letter-spacing: 0.05em;
    
}
div.btn_engaged a:hover{
    color: white;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(61, 216, 196, 1);
    -moz-box-shadow: 0px 0px  20px 0px rgba(61, 216, 196, 1);
    box-shadow: 0px 0px  20px 0px rgba(61, 216, 196, 1);

}

footer {
    display: flex;
    flex-direction: column;
    font-family: 'roboto_monoregular';
    font-size: 1.3em;
    letter-spacing: 0.05em;
}

.abonnement {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(66, 66, 233);
    padding: 50px 0;
}
.abonnement p {
    font-size: 1.3em;
}

.social {
    display: flex;
    justify-content: space-between;
}

footer a:hover {
    text-decoration: none;
    color: #3DD8C4;
}

footer a, footer p {
    color: white;
    font-family: 'roboto_monoregular';
    font-size: 0.8em;
    letter-spacing: 0.05em;
}

@media screen and (max-width: 729px) {
    .abonnement {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        width: 100%;
    }

    .les_liens>a>img {
        padding-right: 15px;
    }
}

.twitter {
    padding-right: 20px;
}

.facebook {
    padding-right: 20px;
}

.les_liens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(#3827B4, rgb(6, 3, 47));
    padding:80px 0;
    -webkit-box-shadow: 0px -25px 51px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -25px 51px 0px rgba(0,0,0,0.5);
    box-shadow: 0px -25px 51px 0px rgba(0,0,0,0.5);
}

.bl1 {
    display: flex;
    flex-direction: column;
}

button {
    padding: 6px 0 6px 0;
    background-color:#3DD8C4;
    width: 100px;
    border: none;
    color: white;
    margin-left: -13.5px;
}

input {
    border: none;
    border-radius: none;
    margin-bottom: 6px;
    height: 43px;
}


/* fin de footer**********************************************************************************************************/


/* Style général */

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color: white;
    color: #5F5F5F;
    font-family: font-family: 'roboto_monomedium';
    position: relative;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: bottom;
    height: auto;
}

h1,
h2 {
    font-family: 'roboto_monobold';
    color: #06032F;
    font-size: 1.7em;
    letter-spacing: 0.05em;
    margin-bottom: 60px;
}

h3 {
    font-family: 'roboto_monoregular';
    font-size: 1.3em;
    letter-spacing: 0.05em;
}

h4 {
    font-family: 'roboto_monobold';
    color: #3DD8C4;
    font-size: 1.3em;
}

p {
    font-family: 'roboto_monoregular';
    font-size: 1em;
    color: #5F5F5F;
}


/* Colours */

.green_background {
    background-color: #3DD8C4;
}

.blue_background {
    background-color: #06032F;
}

.purple_background {
    background-color: #3827B4;
}

.green_color {
    color: #3DD8C4;
}

.blue_color {
    color: #06032F;
}

.purple_color {
    color: #3827B4;
}


/* Shadows */

.green_shadows {
    -webkit-box-shadow: 7px 7px 0px 0px rgba(61, 216, 196, 1);
    -moz-box-shadow: 7px 7px 0px 0px rgba(61, 216, 196, 1);
    box-shadow: 7px 7px 0px 0px rgba(61, 216, 196, 1);
}

.purple_shadows_blur {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(56, 39, 180, 1);
    -moz-box-shadow: 0px 0px 50px rgba(56, 39, 180, 1);
    box-shadow: 0px 0px 50px 0px rgba(56, 39, 180, 1);
}

.grey_shadows_blur {
    -webkit-box-shadow: 7px 7px 6px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 7px 7px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 7px 7px 6px 0px rgba(0, 0, 0, 0.2);
}


/* Fonts */

@font-face {
    font-family: 'roboto_monoregular';
    src: url('fonts/robotomono-regular-webfont.woff2') format('woff2'), url('fonts/robotomono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_monomedium';
    src: url('fonts/robotomono-medium.woff2') format('woff2'), url('fonts/robotomono-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_monobold';
    src: url('fonts/robotomono-bold.woff2') format('woff2'), url('fonts/robotomono-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}