/*footer*/

footer {
    display: flex;
    flex-direction: column;
}

.abonnement {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(66, 66, 233);
}

.les_liens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(blue, rgb(26, 55, 184))
}

.bl1 {
    display: flex;
    flex-direction: column;
}

button {
    padding: 6px 0 6px 0;
    font: bold 13px Arial;
    background-color: aqua;
    width: 100px;
    border: none;
    color: white;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-left: -5px;
}

input {
    border: none;
    border-radius: none;
}


/* fin de footer**********************************************************************************************************/


/* Style général */

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    background-color: white;
    color: #5F5F5F;
    font-family: font-family: 'roboto_monomedium';
    position: relative;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: bottom;
    height: auto;
}

h1,
h2 {
    font-family: 'roboto_monobold';
    color: #06032F;
    font-size: 1.7em;
    letter-spacing: 0.05em;
    margin-bottom: 80px;
}

h3 {
    font-family: 'roboto_monoregular';
    font-size: 1.3em;
    letter-spacing: 0.05em;
}

h4 {
    font-family: 'roboto_monobold';
    color: #3DD8C4;
    font-size: 1.3em;
}

p {
    font-family: 'roboto_monoregular';
    font-size: 1em;
    color: #5F5F5F;
}


/* Colours */

.green_background {
    background-color: #3DD8C4;
}

.blue_background {
    background-color: #06032F;
}

.purple_background {
    background-color: #3827B4;
}

.green_color {
    color: #3DD8C4;
}

.blue_color {
    color: #06032F;
}

.purple_color {
    color: #3827B4;
}


/* Shadows */

.green_shadows {
    -webkit-box-shadow: 7px 7px 0px 0px rgba(61, 216, 196, 1);
    -moz-box-shadow: 7px 7px 0px 0px rgba(61, 216, 196, 1);
    box-shadow: 7px 7px 0px 0px rgba(61, 216, 196, 1);
}

.grey_shadows {
    -webkit-box-shadow: 7px 7px 6px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 7px 7px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 7px 7px 6px 0px rgba(0, 0, 0, 0.2);
}


/* Fonts */

@font-face {
    font-family: 'roboto_monoregular';
    src: url('fonts/robotomono-regular-webfont.woff2') format('woff2'), url('fonts/robotomono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_monomedium';
    src: url('fonts/robotomono-medium.woff2') format('woff2'), url('fonts/robotomono-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_monobold';
    src: url('fonts/robotomono-bold.woff2') format('woff2'), url('fonts/robotomono-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}