footer {
    display: flex;
    flex-direction: column;
}

.abonnement {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(66, 66, 233);
}

.les_liens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(blue, rgb(26, 55, 184))
}

.bl1 {
    display: flex;
    flex-direction: column;
}

button {
    padding: 6px 0 6px 0;
    font: bold 13px Arial;
    background-color: aqua;
    width: 100px;
    border: none;
    color: white;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-left: -5px;
}

input {
    border: none;
    border-radius: none;
}